.idea/*
__pycache__/*
venv/*
venv7/*
*.csv
*credentials.py
*/sandbox/*
arlo/log
*.pyc
.DS_Store
arlo/data/backup
arlo/data/tokens
arlo/data/statements
last_update.txt
arlo_venv/*
.environnement
arlo.pid
launch_arlo.sh
